.u-bg--white {
    background-color: white;
}


@each $key,
$color in $colors {
    .u-bg--#{$key} {
        background-color: $color;
    }

    .u-text--#{$key} {
        color: $color;
    }
    .u-border--#{$key} {
        border-color: $color;
    }
}