.l-header__menu__mobile {
  display: none;
  padding: 0 5px;
  position: absolute;
  transform: translateY(-50%);
  top: 28px;
  right: 0;

  @include md {
    display: flex;
    flex-direction: column;
    display: block;
    align-items: center;
    justify-content: center;


  }

  &__bg {
    display: none;

    @include md {
      position: fixed;
      top: 0;
      right: 0;
      width: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 3rem 2rem 3rem;
      transition: all .5s;
      height: 60px;
      z-index: 1500;
    }

  }

  &__bg.change-color {
    background-color: $d-gray;
    opacity: 0.9;
  }


  &__text {
    margin-top: 4px;
    color: white;
    @include font(12);
    font-weight: 700;
  }

  &__open {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 101vh;
    padding: 70px 16px;
    z-index: 1010;
    overflow: hidden;
    transition: 0.2s ease-in-out;

    @include md {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      opacity: 1;
      display: block;
      left: -100vw;

    }

    li {
      @include font(12);
      color: $black;

    }
  }

  // &__menu {
  // width: 100%;
  // height: 100%;
  // overflow-y: scroll;

  &__item {
    padding: 24px;
    border-bottom: 1px dotted rgba($black, 0.4);

    &:first-child {
      margin-top: 0;
      border-top: 1px dotted rgba($black, 0.4);
    }

    &__link {
      @include font(16);
      font-weight: 400;
      color: $black;
    }

  }

  // }

  &__close {
    position: absolute;
    top: 12px;
    right: 17px;
    fill: $black;
    color: $black;
    width: 32px;
    z-index: 50;
  }

  &__icon {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 5px;

    span {
      display: inline-block;
      transition: all .4s;
      position: absolute;
      left: 12px;
      height: 1px;
      border-radius: 2px;
      background-color: $black;
      width: 30%;

      &:nth-of-type(1) {
        top: 27px;
      }

      &:nth-of-type(2) {
        top: 33px;
      }

      &:nth-of-type(3) {
        top: 39px;
      }
    }

    &.active {
      span {
        background: $black;

        &:nth-of-type(1) {
          top: 28px;
          left: 18px;
          transform: translateY(6px) rotate(-45deg);
          width: 30%;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          top: 40px;
          left: 18px;
          transform: translateY(-6px) rotate(45deg);
          width: 30%;
        }
      }
    }
  }
}

.open.l-header__menu__mobile__open {
  @include md {
    display: block;
    left: 0;
    height: 100%;
    overflow-y: scroll;
  }
}