.c-text {
    color: $black;
    @include font(14);
    overflow-wrap: break-word;
}

.c-link {
    // @include font(14);
    text-decoration: underline;
    color: $link;
    cursor: pointer;
    word-wrap: break-word;

    &:hover {
        opacity: 0.8;
        text-decoration: underline;
        color: $link;
    }
}

.c-line--b {
    border-bottom: 1px solid $sl-gray;
}

.c-title {
    @include font(18);
    font-weight: bold;
    color: $black;
    padding: .7rem 1rem .7rem 3rem;
    border-left: 4px $sub-color solid;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.is_finished {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../../../../public/img/check.svg');
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-3rem, -3.2rem);
    }
}

.c-guest-bg {
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    background-image: url('../../../../public/img/top-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // height: 100vh;
    min-height: calc(100vh - 50px);
    margin-top: 10rem;
    padding-top: 15rem;
    padding-bottom: 15rem;

    @include md {
        height: calc(100vh - 50px);
    }
}

.c-guest-hero {
    position: relative;
    margin: 10 auto;
    width: 50rem;
    min-height: 500px;
    margin-left: -10rem;

    @include md {
        margin-left: 0;
    }


    img {
        position: absolute;
        top: 48%;
        left: 0;

        @include md {
            width: 100%;
            top: 50%;
            transform: translateY(-50%);

        }
    }
}

.c-guest__inner {
    position: relative;
    margin: 0 auto;
    width: 50rem;
    min-height: 500px;

    @include md {
        width: 100%;
        position: relative;
        left: 0;
        transform: none;

    }

}

.c-border-none {
    border: none;
}

//calendar
.done {
    .fc-event-main {
        .fc-event-title {
            text-decoration: line-through;

        }
    }
}
.c-loading{
    justify-content: center;
    align-items: center;
    div{
        display: block;
        height: auto!important;
        width: 1.76rem!important;
        svg{
            height: 100%!important;
        }
    }
}

.fc-daygrid-event{
    cursor: pointer;
}